## Python week4 Homework
### Loading data in

In [1]:
filename = 'purchase_data.json.txt' 
df=open(filename,'r')
df_list = df.readline()

In [ ]:
import json
from pprint import pprint
df_json = json.loads(df_list)
pprint(df_json)

In [3]:
import pandas as pd
df_json2=pd.DataFrame(df_json)
df_json2.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [5]:
Total_players=len(df_json2['SN'].value_counts())
number_unique_items=len(df_json2['Item ID'].value_counts())
avg_price=df_json2['Price'].mean()
total_revenue=df_json2['Price'].sum()

### Purchasing Analysis

In [139]:
pur_ana=[Total_players,number_unique_items,avg_price,total_revenue]
pur_title=['Total_players','number_unique_items','avg_price','total_revenue']
pur_ana2=pd.DataFrame(pur_ana)
pur_title2=pd.DataFrame(pur_title)
pur_ana_final=pd.concat([pur_title2,pur_ana2],axis=1)
pur_ana_final.to_csv('Purchase_final_analysis.csv',sep=',')
pur_ana_final

                     0            0
0        Total_players   573.000000
1  number_unique_items   183.000000
2            avg_price     2.931192
3        total_revenue  2286.330000

In [6]:
Male=df_json2[df_json2['Gender']=='Male']
Male2=len(Male['SN'].value_counts())
Female=df_json2[df_json2['Gender']=='Female']
Female2=len(Female['SN'].value_counts())
Other=df_json2[df_json2['Gender']=='Other / Non-Disclosed']
Other2=len(Other['SN'].value_counts())

In [7]:
percent_male=Male2/Total_players*100
percent_female=Female2/Total_players*100
percent_other=Other2/Total_players*100

In [133]:
##Male
male_purchase_count=len(Male)
male_avg_price=Male['Price'].mean()
male_total_purchase=Male['Price'].sum()
normalized_total_male=male_total_purchase/male_purchase_count
##Female
female_purchase_count=len(Female)
female_avg_price=Female['Price'].mean()
female_total_purchase=Female['Price'].sum()
normalized_total_female=female_total_purchase/female_purchase_count

### Gender Summary

In [134]:
male=[male_purchase_count,male_avg_price,male_total_purchase,normalized_total_male]
female=[female_purchase_count,female_avg_price,female_total_purchase,normalized_total_female]
title=['purchase_count','avg_price','total_purchase','normalized_total']
male2=pd.DataFrame(male)
female2=pd.DataFrame(female)
title2=pd.DataFrame(title)
Gender_summary=pd.concat([title2,male2,female2],axis=1)
Gender_summary.columns=(['columns','male','female'])
Gender_summary.to_csv('Gender_analysis.csv',sep=',')
Gender_summary

            columns         male      female
0    purchase_count   633.000000  136.000000
1         avg_price     2.950521    2.815515
2    total_purchase  1867.680000  382.910000
3  normalized_total     2.950521    2.815515

### Age Demographics

In [116]:
##binning
bins=[7,16,25,36,45]
group_names = ['7-16', '17-25', '26-36','37-45']

In [117]:
df_json2['Buckets']=pd.cut(df_json2['Age'],bins,labels=group_names)

In [119]:
count_items= df_json2.groupby('Buckets').count()['Age']
Avg_pur_Price= df_json2.groupby('Buckets').mean()['Price']
Sum_pur_Price= df_json2.groupby('Buckets').sum()['Price']

In [120]:
Summary=pd.concat([count_items,Avg_pur_Price,Sum_pur_Price],axis=1)
Summary.columns=['Count','AvgPrice','TotalPrice']
Summary.to_csv('Summary_analysis.csv',sep=',')
Summary

         Count  AvgPrice  TotalPrice
Buckets
17-25      466  2.941288     1370.64
26-36      141  2.966099      418.22
37-45       40  2.899750      115.99
7-16       114  2.859737      326.01

### Top Spenders

In [ ]:
Total_price_bySN=df_json2.groupby('SN').sum()['Price']
Total_count_bySN=df_json2.groupby('SN').count()['Age']
Avg_price_bySN=Total_price_bySN/Total_count_bySN
Top_spender=[Total_price_bySN,Total_count_bySN,Avg_price_bySN]
Top_spender2=pd.DataFrame(Top_spender)
Top_spender3=Top_spender2.T

In [32]:
Top_spender3=Top_spender3.rename(columns={'Unnamed 0':'Ave_spend'})

In [42]:
Top_spender3=Top_spender3.sort_values('Price',ascending=False)
Top_spender_summary=Top_spender3.head()

In [45]:
Top_spender_summary.columns=(['Total_spend','Total_items','Avg_spend'])
Top_spender_summary.to_csv('Top_spender_summary.csv',sep=',')
Top_spender_summary

             Total_spend  Total_items  Avg_spend
SN
Undirrala66        17.06          5.0   3.412000
Saedue76           13.56          4.0   3.390000
Mindimnya67        12.74          4.0   3.185000
Haellysu29         12.73          3.0   4.243333
Eoda93             11.58          3.0   3.860000

### Most popular items

In [53]:
df_json2.head()

,Age,Gender,Item ID,Item Name,Price,SN,Buckets
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,37-45
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,17-25
2,34,Male,174,Primitive Blade,2.46,Assastnya25,26-36
3,21,Male,92,Final Critic,1.36,Pheusrical25,17-25
4,23,Male,63,Stormfury Mace,1.27,Aela59,17-25

In [ ]:
#item_count=df_json2.groupby('Item Name').count()['Item ID']
#item_Purchase_total=df_json2.groupby('Item Name').sum()['Price']
item=df_json2[['Item Name','Price','Item ID']]
item=item.drop_duplicates(subset=None, keep='first', inplace=False)
item.index=item['Item Name']
item

In [81]:
pop_item=[item_count,item_Purchase_total]
pop_item2=pd.DataFrame(pop_item)
pop_item2=pop_item2.T
pop_item2=pop_item2.reset_index()
item=item.merge(pop_item2,how='inner',on='Item Name')

In [135]:
#item.columns=(['Item_name','Price','Item_ID','purchase_count','Total_amount_purchased'])
item=item.sort_values('purchase_count',ascending=False)
Item_summary=item.iloc[0:7,:]
Item_summary.to_csv('item_summary.csv',sep=',')
Item_summary

,Item_name,Price,Item_ID,purchase_count,Total_amount_purchased
3,Final Critic,1.36,92,14.0,38.60
4,Final Critic,4.62,101,14.0,38.60
53,"Betrayal, Whisper of Grieving Widows",2.35,39,11.0,25.85
90,Arcane Gem,2.23,84,11.0,24.53
82,Stormcaller,2.78,180,10.0,34.65
81,Stormcaller,4.15,30,10.0,34.65
35,Serenity,1.49,13,9.0,13.41

### Most profitable items

In [136]:
item=item.sort_values('Total_amount_purchased',ascending=False)
Item_summary=item.iloc[0:7,:]
Item_summary

,Item_name,Price,Item_ID,purchase_count,Total_amount_purchased
3,Final Critic,1.36,92,14.0,38.60
4,Final Critic,4.62,101,14.0,38.60
50,Retribution Axe,4.14,34,9.0,37.26
81,Stormcaller,4.15,30,10.0,34.65
82,Stormcaller,2.78,180,10.0,34.65
86,Spectral Diamond Doomblade,4.25,115,7.0,29.75
46,Orenmir,4.95,32,6.0,29.70